/* Сброс стилей начало */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Сброс стилей конец */


/* Шрифты начало*/

/* inter-regular - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./assets/fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inter-700 - latin */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./assets/fonts/inter-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/inter-v12-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inika-regular - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./assets/fonts/inika-v21-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/inika-v21-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* inika-700 - latin */
@font-face {
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./assets/fonts/inika-v21-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/inika-v21-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Шрифты конец */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Inter;
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: #636060;
}

.wrapper {
  max-width: 1220px;
  margin: 0 auto;
}


/* Header styles start */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #EDF2EC;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 42px;
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 46px;
}

.header__item:last-child {
  margin-right: 0px;
}

.header__link {
  font-family: 'Inika';
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
  color: #010201;
  text-decoration: none;
}

.header__link__first {
  color: #e06733;
}

.header__link:hover,
.header__link:focus,
.header__link:active {
  color: #499A18;
}

/* Header styles end */



/* Welcome stylers start */

.welcome {
  min-height: 666px;
  background-color: #EDF2EC;
  padding-top: 196px;
}

.welcome__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.welcome__wrapper-right {
  padding-top: 36px;
  padding-left: 220px;
}

.title-pic {
  background: url(./assets/img/svg/welcome-pic.svg) no-repeat;
  background-size: cover;
  width: 448px;
  height: 408px;
}

.welcome-title {
  max-width: 550px;
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin-bottom: 42px;
}

.welcome-title__strong {
  color: #499A18;
}

.welcome__text {
  max-width: 525px;
  line-height: 35px;
  margin-bottom: 48px;
}

.welcome__button {
  padding: 14px 27px;
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  background: #EDF2EC;
  border: 2px solid #E06733;
  border-radius: 10px;
}

.welcome__button:hover,
.welcome__button:focus,
.welcome__button:active {
  background: #E06733;
}
/* welcome styles end */


/* About styles start */

.about {
  min-height: 666px;
  padding-top: 93px;
}


.about__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.about__wrapper-left {
  padding-top: 68px;
  padding-right: 120px;
}

.about-pic {
  background: url(./assets/img/svg/about-pic.svg) no-repeat;
  background-size: cover;
  width: 479px;
  height: 464px;
}

.about-title {
  max-width: 463px;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  margin-bottom: 40px;
}

.about-title__strong {
  color: #E06733;
}

.about__text {
  max-width: 605px;
  line-height: 30px;
}

/* About styles end */


/* Service styles start */

.service {
  min-height: 1300px;
  background-color: #EDF2EC;
  padding-top: 40px;
}


.service-title__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 90px;
}

.service-title {
  max-width: 306px;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #499A18;
  margin-right: 142px;
}

.service-buttons__wrapper{
  margin-top: 29px;
}

.service-button {
  margin-bottom: 29px;
  padding: 12px 40px;
  font-family: 'Inika';
  font-weight: 400;
  font-size: 20px;
  color: #E06733;
  background: #EDF2EC;
  border: 2px solid #E06733;
  border-radius: 10px;
  margin-right: 38px;
}

.service-button:last-child{
  margin-right: 0px;
}

.service__button:hover,
.service__button:focus,
.service__button:active {
  background: #E06733;
}


.service__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 116px;
  grid-template-rows: repeat(2, 1fr);
  grid-row-gap: 55px;
}

.service-card-title {
  max-width: 120px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #e06733;
  margin-bottom: 10px;
  margin-top: 10px;
}

.service__card-text{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #717171;
  margin-bottom: 36px;
}

.service__card-wrapper-text{
  border: 1px solid #e3e1d5;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Service styles end */

/* prices styles start */

.prices {
  min-height: 560px;
  padding-top: 40px;
}

.wrapper__prices{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.prices__title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  color: #000000;
  margin-bottom: 60px;
}

.prices__buttons{
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 41px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.prices-button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 40px;
  width: 250px;
  height: 50px;
  background: #EDF2EC;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.prices-icon{
  width: 16px;
  height: 16px;
}

.prices__best-gardens-title{
  max-width: 452px;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: right;
  color: #000000;
  margin-bottom: 38px;
}

.prises__best-gardens-title__strong{
  color: #499A18;
}

.wrapper__prises-button-contacs{
  display: flex;
  justify-content: flex-end;
}

.prices__button-contact{
  width: 162px;
  height: 50px;
  border: 1px solid #E06733;
  border-radius: 5px;
  background: #FFFFFF;
  font-family: 'Inika';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #E06733;
  margin-bottom: 39px;
}

.wrapper__prices-pic{
  display: flex;
  justify-content: flex-end;
}

.prices-pic{
  background: url(./assets/img/svg/prices-pic.svg) no-repeat;
  background-size: cover;
  width: 152px;
  height: 175px;
}


/* prices styles end */

/* contacts styles start */

/* contactsstyles end */